body {
  background-color: #fff0dd;
}

.page-root {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.page-content {
  flex: 1;
  padding: 20px;
  margin-left: 29vh; /* Ajustado para la Sidebar*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
